{% extends 'base.html' %}

{% block content %}
<style>
  button {
    padding: 0.8em 1.8em;
    border: 2px solid #535555;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #535555;
  }

  button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #535555;
    transition: .5s ease;
    display: block;
    z-index: -1;
  }

  button:hover::before {
    width: 105%;
  }

  button:hover {
    color: #111;
  }
</style>

{% if user.is_authenticated %}
<p>You are already logged in</p>
{% else %}

<div class="container text-center" style="max-width: 540px;">
  <br/>
  <h1>Google Authentication Failed</h1>
  <br/>
  <p>Google authentication failed. Please try again or use other login methods.</p>
  
  <br>
  <hr>
  
  <br>
  <!-- Link to login page -->
  <a href="{% url 'login' %}" class="btn btn-light rounded-0">Login</a><br/>
  </div>
  <br>

  {% endif %}
  {% endblock %}
