{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card border-primary rounded-0 shadow-sm mb-3 p-3 text-center">
  <p style="font-size: x-large; font-weight: 400; font-family: 'Arabic-font';">Search for Posts</p>
</div>
<br/>
<br/>

<div class="card border-primary-subtle rounded-0 mb-3 p-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="card border-primary-subtle rounded-0 mb-3 p-3">
                <div class="d-flex justify-content-between">
                    <input type="input" class="form-control rounded-0 shadow text-end" placeholder="Search" name="search">
                    <button type="submit" title="search" class="btn btn-primary rounded-0 shadow"><i class="fa fa-search"></i></button>
                </div>
                <br/>
                {% if search %}
                    <p style="font-size: x-large; font-weight: 300;">You searched for: {{ search }}</p>
                </div>
                {% for meep in searched %}
                    <div class="list-group">
                        <a href="{% url 'meep_show' meep.id %}" class="list-group-item flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    {% if meep.user.profile.profile_image %}
                                        <img src="{{ meep.user.profile.profile_image.url }}" class="img-fluid rounded-circle" style="height: 50px; width: 50px;" alt="{{ profile.user.username }}">
                                    {% else %}
                                        <img src="{% static 'images/pro.png' %}" class="img-fluid rounded-circle" style="height: 50px; width: 50px;" alt="Profile Picture">
                                    {% endif %}
                                    &nbsp;{{ meep.user }}
                                </h5>
                                <small class="text-muted">{{ meep.created_at }}</small>
                            </div>
                            <p class="mb-1">{{ meep.body }}</p>
                            <small class="text-muted">{{ meep.number_of_likes }} Rates
                                <div id="meep_{{ meep.pk }}">
                                {% if user in meep.likes.all %}
                                    <a href="{% url 'meep_like' meep.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                        Unrate <i class="fa-solid fa-star" style="color:yellow;"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'meep_like' meep.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                        Rate <i class="fa fa-star-o" style="color:yellow;"></i>
                                    </a>
                                {% endif %}
                            </div>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">Share &nbsp;<i class="fa-solid fa-share"></i></a>
                            </small>
                        </a>
                    </div>
                    <br/>
                {% endfor %}
            {% endif %}
        </fieldset>
    </form>
</div>
{% endblock %}
